* {
    margin: 0;
    padding: 0;
    /* border: solid; */
    font-family: Lexend;
}

:root {
    --primary-color: #628a56;

    --background-color: #9aaf88;

    --text-color1: #e0e1dd;

    --text-color2: #f5f5f5;

    --button-color: #113020;

    --button-text-color: #ffae41;

    --top-bar-color: #113020;

    --logo-color: #ffae41;
    --logo-color2: #d48722;


    --red: #c1121f;
    --blue: #023047;
}

#loginSection,
#regSection {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    width: fit-content;
    height: 400px;
    padding: 25px;
    border-radius:  20px;
    border: none;
    
}
#regSection{
    height: 560px;
}

#loginScreen,
#registerScreen {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#loginForm,
#regForm {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: var(--text-color1);
    font-weight: 900;
    align-self: center;
    margin: 15px;
    font-size: 35px;
    width: 100%;
}

#username,
#password {
    font-weight: 700;
    color: var(--text-color2);
    margin-bottom: 5px;
    margin-top: 15px;;
    font-size: 18px;
}

#loginForm div {
    display: flex;
    flex-direction: column;
}

.box {
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    width: 355px;

}

#logButton {
    padding: 5px;
    width: 150px;
    height:40px;
    color: var(--button-text-color);
    background-color: var(--button-color);
    border: none;
    margin-top: 20px;
    align-self: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

#noAccount {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 27px;
    font-size: 20px;
}

#noAccount h5 {
    color: var(--text-color1);
    margin-bottom: 5px;
}

a:link,
a:visited {
    color: var(--text-color2);
}

a:active {
    color: var(--text-color1);
}

header {
    background-color: var(--primary-color);
    display: flex;
    width: 100%;
    top: 0;
    height: 10vh;
    align-items: center;
    padding-left: 0px;
}

#logOut,
#appName {
    margin-left: 10%;
    color: var(--button-text-color);
    font-weight: 1000;
    font-size: 0.85em;
}

#logout:hover, #requests:hover {
    background-color: rgba(98, 138, 86, 0.7);
    transition: 0.3s ease;
}


#welcome {
    font-size: 16pt;
    font-weight: 800;
    color: var(--secondary-color);
    text-align: center;
    padding-top: 25px;
}

a,
a:visited {
    text-decoration: none;
}

 
button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

#homeScreen {
    background-color: var(--background-color);
    display: block;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-top: 110px;

}

.button{
    background-color: var(--primary-color); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}



#logout{
    position: absolute; 
    right: 5%; 
    text-decoration: none;
}

#topBar{
    position: absolute; 
    top: 0;
    height: 70px;
    width: 100%;
    background-color: var(--top-bar-color);
    color: var(--logo-color);
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeScreen h3{
    font-size: 40px;
    font-weight: 900;
    /* background-color: var(--primary-color); */
    color: var(--top-bar-color);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration:underline;
}



/*/////////////householdpage///////////////////*/

#householdScreen{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 110px;
}

#logo{
    color: var(--logo-color)
}
#logo:hover{
    transition: 0.3s ease;
    text-decoration: none;
    color:var(--logo-color2);
}

#panels{
    display: flex;
    justify-content: space-between;
}

#grocery,#pantry{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.62);
    height: fit-content;
    padding: 20px;
    margin-top: 20px;
}
#groceryPanel{
    margin-right: 40px;
}
#pantryPanel{
    margin-left: 40px;
}

#pantry>div, #grocery>div{
    margin-bottom: 10px; 
    color: var(--button-text-color);
    font-size: 25px;
    background-color: var(--top-bar-color);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#pantry ul, #grocery ul{ 
    font-size: 20px;
}
#pantry ul li, #grocery ul li{ 
    margin-top: 10px;
    padding:18px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#pantry ul li:hover, #grocery ul li:hover{ 
    background-color: rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}
#listBox{
    width:100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
#expiry, #requester{
    border-top: dashed 0.5px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
#item, #note{
    display: block;
    height: 40px;
    width: 50%;
    text-align: left;
    height: fit-content;
    margin-bottom: 20px;
    border-right: 0.5px dashed black; 
    margin-top: 20px;
    padding-left: 10px;
}
#note{
    text-align: center;
}


#price, #quantity{ 
    padding-top: 10px;
    display: block;
    height: 40px; 
    width:50%;
    text-align: center;
    margin-bottom: 20px;
}
#quantity{
    margin-top: 10px;

}

#quantity{
    height: 20px; 
    line-height: 20px;
}
.purchasePrice {
    font-weight: bold;
    color: green;
    margin-bottom: 5px;
    padding: 5px;
    padding-top: 7px;
    padding-right: 7px;
    background-color: rgba(0, 0, 0, 0.035);
    border-radius: 5px;
    

  }


#pantryAdd,.reorderButton, #groceryAdd, #groceryRemove, .groceryEdit,.pantryEdit,#pantryRemove{
    line-height: 24px; 
    text-align: center;
    background-color: var(--primary-color);
    width: 25px;
    height:25px; 
    border-radius: 45px;
    margin-left: 20px;
    position: absolute;
    right: 15px; 
    font-size: 15px;
    border: solid 1px

}
#groceryRemove, #pantryRemove{
    background-color: var(--red);
    right: 10px;
    
}
.groceryEdit,.pantryEdit{
    background-color: var(--blue);
    right: 40px;
}
#pantryAdd:hover,.reorderButton:hover, #groceryAdd:hover, #groceryRemove:hover, .groceryEdit:hover,.pantryEdit:hover,#pantryRemove:hover{
    text-decoration: none;
    background-color: var(--text-color1);
    color:var(--primary-color);
    cursor:pointer;
    transition: 0.3s ease;
}
#groceryRemove:hover,#pantryRemove:hover{
    color:var(--red);
}
.groceryEdit:hover,.pantryEdit:hover{
    color:var(--blue);
}

#groceryEditBox, #pantryEditBox, #groceryAddBox, #pantryAddBox , #pantryRequestBox, #groceryConfirmBox{
    display: none;
    background-color: var(--top-bar-color);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 280px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}
#pantryEditBox,#pantryAddBox, #pantryRequestBox, #groceryConfirmBox{
    width: 350px;
    height: 370px;
}

#back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#questions{
    margin-top: 30px;
    position: relative;
}
#questions label{
    position: absolute;
    right: 40px;
    text-align: left;
    width: 100%;
    color: var(--text-color1)
    
}
#questions input{
    position: absolute;
    left: 50px;
    width: 170px;
    padding: 3px;
    font-size: 26px;
}
#questions2{
    margin-top: 30px;
    position: relative;
}
#questions2 label{
    position: absolute;
    right: 70px;
    text-align: left;
    width: 100%;
    color: var(--text-color1)
    
}
#questions2 input{ 
    position: absolute;
    left: 80px;
    width: 170px;
    padding: 3px;
    font-size: 26px;
}

#editGroceryForm button, #editPantryForm button, #groceryAddBox button, #acceptButton{
    margin-top: 10px;

}
#editPantryForm button, #pantryAddBox button{
    margin-top: 60px; 
}
#editGroceryForm button:hover, #editPantryForm button:hover,#groceryAddBox button:hover,#pantryAddBox button:hover, #acceptButton:hover{
    background-color: var(--text-color1);
    color: var(--primary-color);
    transition: 0.3s ease;
}
#cancelButton{
    background-color: var(--red);
}
#cancelButton:hover{
    background-color: var(--text-color1);
    color: var(--red) !important;
    transition: 0.3s ease;
}

#groceryEditBox h3, #pantryEditBox h3, #pantryAddBox, #groceryAddBox{
    color: var(--button-text-color)
}


#householdName{
    background-color: var(--button-color);
    width: fit-content;
    padding: 10px;
    margin-bottom: 20px;
    color: var(--text-color1);
    text-align: center;
    font-size: 26px;
    border: var(--button-text-color) solid 3px ;
    min-width: 300px;
    font-size: 30px;
    font-weight: bolder;
}


#requests{
    position: absolute;
    left: 70px;
}
.crossedOut span#item, .crossedOut span#note {
  text-decoration: line-through;
  opacity: 0.6;
  cursor:default;
}
.pantryBuyer{
    border-bottom: dashed 0.5px;
    padding-top: 15px; 
    text-align: center;
    width: 100%;
    position:relative;
    padding-bottom: 20px;
}


.pantryRequest{
    background-color: var(--logo-color2);
    padding: 5px;
    width:50px;
    text-align: center;
    border: white solid 1px;
    border-radius: 25px;
    line-height: 20px;
    transition: .3s ease;
}
.pantryRequest:hover{
    border:var(--logo-color2) solid 1px;
    color: var(--logo-color2);
    background-color: var(--text-color1);
}

.itemRequestBadge{
    color: var(--red);
    font-size: 20px;
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.165);
    padding: 7px;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-top: 5px;

}
.itemRequestBadge span{
    font-size: 25px;
    line-height: 30px;
}
#pantryRequestBox, #groceryConfirmBox{
    color: var(--text-color1);

}
#requestPantryForm, #confirmBuyForm{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#groceryConfirmBox{
    height: 400px;
    width: 400px;
}

#pantryRequestBox h3, #groceryConfirmBox h3{
    color:var(--logo-color2);
}
#requestPantryForm div, #confirmBuyForm div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
#requestPromptText, #confirmText{
    text-align: center;
}

.reqBut{
    margin-left: 20px;
    margin-right: 20px;

}
div input{
    font-size: 24px;
    width: 50%;
}
input{
    padding: 5px;
}
#cancelButton{
    height: 50px;
    margin-top: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////*/








#householdScreen {
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-top: 110px;

}

#banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    padding-right: 80px;
    box-sizing: border-box;
}

#banner button {
    padding-block:2px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--top-bar-color);
    font-weight: 900;
    font-size: 35px;
}

#banner button:hover {
    /* background-color: rgba(255, 255, 255, 0.85);*/
    background-color: rgba(17, 48, 32, 0.8);
    transition: 0.3s ease;
}

#banner button:hover .add {
    color: var(--button-text-color);
    transition: 0.3s ease;
}

.join {
    padding: 5px;
    font-size: x-large;
    display: block;
    border-radius: 5px;
    width: 30%;
    max-width: 400px;
    box-sizing: border-box;
    border: 0px;
    text-align: center;
}

#joinForm{
    display: flex;
    margin-left: 35%; 
    margin-bottom: 20px;
}

.join:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--logo-color);
    transition: box-shadow 0.3s ease;
}
  
/* default household container style */
.householdContainer {
    background-color: rgba(224, 225, 221, 0.8);
    padding-block: 30px;
    padding-left: 25px;
    margin: 20px auto;
    border-radius: 10px;
    width: calc(100% - 100px);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.householdContainer .name {
    color: var(--top-bar-color);
    font-size: 25px;
    font-weight: 3000;
}

.householdContainer .num {
    color: var(--button-color);
    margin-top: 5px;
    font-size: 16px;
}


/* hover over household container */
.householdContainer:hover {
    background-color: rgba(17, 48, 32, 0.8);
    transition: 0.3s ease;
}

.householdContainer:hover .name,
.householdContainer:hover .num, 
.householdContainer:hover .code {
    color: var(--logo-color);
    transition: 0.3s ease;
}
.code{
    margin-top: 15px;
    color:var(--top-bar-color);
    font-size: 20px;

}


/* create household button overlay popup */
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#home h2 {
    color: var(--text-color1);
}

.popup-box {
    background-color: var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 400px;
    padding: 25px;
    border-radius:  20px;

    /* animation */
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 23px;
    color: var(--text-color2);
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btn-submit,
.btn-close-popup {
    /* padding: 12px 24px; */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    padding: 5px;
    width: 150px;
    height:40px;
    color: var(--button-text-color);
    background-color: var(--button-color);
    border: none;
    margin-top: 20px;
    align-self: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    color: var(--text-color1)
}

.btn-submit {
    background-color: var(--button-color);
}

.btn-close-popup {
    margin-top: 12px;
    background-color: var(--background-color);
}

.btn-submit:hover,
.btn-close-popup:hover {
    background-color: var(--logo-color);
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}

/* color picker */

.color-picker-circle {
    width:8%;
    height:0;
    padding-bottom: 8%;
    border-radius: 50%;
    border:2px solid #cfdcec;
    margin: auto;
    cursor: pointer;
    background-color: var(--text-color1);
    
}

.color-picker-button {
    width: 100%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    display: inline-flex;
    flex-direction: row;
}

/* button colours */
#button1 {background-color: rgba(234,153,153,0.7);}
#button2 {background-color: rgba(249,203,156,0.7);}
#button3 {background-color: rgba(255,217,102,0.7);}
#button4 {background-color: rgba(182,215,168,0.7);}
#button5 {background-color: rgba(164,194,244,0.7);}
#button6 {background-color: rgba(180,167,214,0.7);}

/* color picker button hover */
.color-picker-circle:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease;
}

.color-picker-circle input[type="radio"] {
    display: none;
}

.checkmark {
    display: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    pointer-events: none;
}

.color-picker-circle input[type="radio"]:checked + .checkmark {
    display: block;
}

.color-picker-circle input[type="radio"]:checked ~ .checkmark {
    display: block;
}

.deleteForm{
    position:absolute;
    top:10px;
    right: 4px;
}

