<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>kitchIn</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jersey+10&family=Jersey+15&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kristi&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
</head>

<body id="homeScreen">
    <div id="topBar">
        <h2>kitchIn</h2>
        <a href="{{ url_for('logout') }}" class="button" id="logout">
            Logout
        </a>
    </div>
    <!-- todo: not sure where to put PIN button -->
    <form id="joinForm" action="/join-household" method="POST">
        <input class="join" type="text" placeholder="Enter Code" name="code"></input>
        <button class="button">Join</button>
    </form>


    <div id="banner">
        <h3>Your Households</h3>

        <!-- todo: add url for create household -->
        <button class="button" id="create" onclick="togglePopup()">
            <span class="add">+</span>
        </button>

    </div>



    <!-- todo: implement mongoDB integration to map each household name to container & link 
                if no households, display italics no households yet-->
    {% for household in households %}
    <a href="/household/{{ household._id }}" class="householdContainer">
        <span class="name">{{ household.name }}</span>
        <span class="num">{{ household.members|length }} members</span>
        <span class="code">Join Code: {{ household.code }}</span>
    </a>
    {% endfor %}

    <div id="popupOverlay" class="overlay-container">
        <div class="popup-box">
            <h1> Make Household</h1>
            <form method="POST" action="/create-household" class="form-container">
                <label class="form-label" for="name">
                Household Name:
            </label>
                <input class="form-input" type="text" placeholder="Enter Name" id="name" name="name" required>

                <label class="form-label" for="name">
                Color Picker:
            </label>

                <div class="color-picker">
                    <div class="color-picker-button">

                        <label class="color-picker-circle" style="background-color: rgba(234,153,153,0.7);">
                        <input type="radio" name="color" value="rgba(234,153,153,0.7)">
                        <span class="checkmark">✓</span>
                    </label>

                        <label class="color-picker-circle" style="background-color: rgba(249,203,156,0.7);">
                        <input type="radio" name="color" value="rgba(249,203,156,0.7)">
                        <span class="checkmark">✓</span>
                    </label>

                        <label class="color-picker-circle" style="background-color: rgba(255,217,102,0.7);">
                        <input type="radio" name="color" value="rgba(255,217,102,0.7)">
                        <span class="checkmark">✓</span>
                    </label>

                        <label class="color-picker-circle" style="background-color: rgba(182,215,168,0.7);">
                        <input type="radio" name="color" value="rgba(255,217,102,0.7)">
                        <span class="checkmark">✓</span>
                    </label>

                        <label class="color-picker-circle" style="background-color: rgba(164,194,244,0.7);">
                        <input type="radio" name="color" value="rgba(164,194,244,0.7)">
                        <span class="checkmark">✓</span>
                    </label>

                        <label class="color-picker-circle" style="background-color: rgba(180,167,214,0.7);">
                        <input type="radio" name="color" value="rgba(180,167,214,0.7)">
                        <span class="checkmark">✓</span>
                    </label>
                    </div>
                </div>


                <button class="btn-submit" type="submit">
                Submit
            </button>

            </form>

            <button class="btn-close-popup" onclick="togglePopup()">
            Close
        </button>
        </div>
    </div>

    <script>
        function togglePopup() {
            const overlay = document.getElementById('popupOverlay');
            overlay.classList.toggle('show');
        }
    </script>

</body>